@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #333;

  padding: 0 0 80px;
}
.rs {
  /* font-family: 'Potta One', system-ui;
  font-weight: 400;
  font-style: normal; */
}

code {
  margin-top: 1rem;
  background: #f8f8f8;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #eee;
  color: #777;

  pre {
    margin: 0;
    padding: 0;
  }

  &.block {
    display: block;
    padding: 16px;
  }
}

.hero {
  padding: 96px;
  background: #eee;
  text-align: center;

  h1 {
    font-size: 64px;
    margin: 0;
  }

  h1 + p {
    margin-top: 32px;
  }

  b {
    font-weight: bold;
  }

  .rs {
    background: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
  }
}

.getting-started {
  max-width: 640px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}

.feature {
  max-width: 640px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}

.example {
  max-width: 640px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
  .example-list {
    display: flex;
    /* gap: 24px; */
    justify-content: space-around;
  }
}

.usage {
  max-width: 640px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}
